@import '../main.scss';

.auth-button {
  padding: 20px;
  background-color: $color4;
  transition: all .5s;
  margin-left: 15px;
}
.auth-button:hover {
  background-color: $color7;
  transform: scale(1.1);
  transition: all .5s;
}
