@import "../../main.scss";

.character-container {
    // border: 1px solid $borderColor;
    margin-top: 10px;
    background-color: $color2;
    min-height: 300px;
    border-radius: 4px;

    .character-header {
        padding: 10px;
        text-align: center;    
        background-color: $color1;        
        .character-title {
          font-size: 16px;
            font-weight: bold;
            font-size: 16px;
        }

        .character-race {
            font-size: 14px;            
        }
        border-bottom: 1px solid $borderColor;  
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;      
    }

    .character-data {
        padding: 10px;

        .character-portrait {
            width: 140px;
            height: 140px;
            float: right;
        }

        .character-gender {
            margin-bottom: 15px;
        }
    }
}
