@import '../main.scss';

.index-container {
    // border: 1px solid $borderColor;
    background-color: $color2;
    min-height: 300px;
    padding: 10px;
    margin: 5px;
  width: 100vw;
}

.auth-button {
  padding: 20px;
  background-color: $color4;
  transition: all .5s;
  margin-left: 15px;
}
.auth-button:hover {
  background-color: $color7;
  transform: scale(1.1);
  transition: all .5s;
}
