<div class="container-animation" style="margin-left: 1px"></div>
      <div class="menu" (mouseenter)="enter()" (mouseleave)="leave()" #menu>

        <!-- Do some menu items -->
        <ul style='margin-top: 120px'>
          <li class="menu-item" (click)="navigate('Index')">
            <a>
              <i class="fi-alert"></i>
              <span *ngIf="menuOpen">Index</span>
            </a>
          </li>

          <li class="menu-item" (click)="navigate('World')">
            <a>
              <i class="fi-shield"></i>
              <span *ngIf="menuOpen">World</span>
            </a>
          </li>

          <li class="menu-item" (click)="navigate('Characters')">
            <a>
              <i class="fi-die-two"></i>
              <span *ngIf="menuOpen">Characters</span>
            </a>
          </li>

          <li class="menu-item" (click)="navigate('Test')">
            <a>
              <i class="fi-die-four"></i>
              <span *ngIf="menuOpen">Test</span>
            </a>
          </li>

          <li class="menu-item" (click)="navigate('Game')">
            <a>
              <i class="fi-die-six"></i>
              <span *ngIf="menuOpen">Game</span>
            </a>
          </li>
        </ul>
      </div>

  <div class="content" #content>
    <ng-content></ng-content>
  </div>
