@import '../../main.scss';

.container {
  height: 100vh;
  background-color: $color1;
}

.container-animation{
  height: 100vh;
  width: 1px;
  float: left;
  //animation-duration: 0.9s;
  //animation-name: menu-bar-animation;
  //animation-iteration-count: infinite;
  background-image: linear-gradient(to bottom, $borderColor, #111111)
}

@keyframes menu-bar-animation {
  0% {
    background-image: linear-gradient(to bottom, $borderColor, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111)
  }
  10% {
    background-image: linear-gradient(to bottom, #111111, $borderColor, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111)
  }
  20% {
    background-image: linear-gradient(to bottom, #111111, #111111, $borderColor, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111)
  }
  30% {
    background-image: linear-gradient(to bottom, #111111, #111111, #111111, $borderColor, #111111, #111111, #111111, #111111, #111111, #111111, #111111)
  }
  40% {
    background-image: linear-gradient(to bottom, #111111, #111111, #111111, #111111, $borderColor, #111111, #111111, #111111, #111111, #111111, #111111)
  }
  50% {
    background-image: linear-gradient(to bottom, #111111, #111111, #111111, #111111, #111111, $borderColor, #111111, #111111, #111111, #111111, #111111)
  }

  60% {
    background-image: linear-gradient(to bottom,#111111, #111111, #111111, #111111, #111111, #111111, $borderColor, #111111, #111111, #111111, #111111)
  }
  70% {
    background-image: linear-gradient(to bottom,#111111, #111111, #111111, #111111, #111111, #111111, #111111, $borderColor, #111111, #111111, #111111)
  }
  80% {
    background-image: linear-gradient(to bottom,#111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, $borderColor, #111111, #111111)
  }
  90% {
    background-image: linear-gradient(to bottom,#111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, $borderColor, #111111)
  }
  100% {
    background-image: linear-gradient(to bottom,#111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, #111111, $borderColor)
  }
}

.content {
  background-color: $color4;
  margin-top: -15px;
}


li {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;

  menu-item {
    /deep/ {
      .menu-item {
        border-bottom: 1px solid $borderColor;
      }
    }
  }
  menu-item:last-of-type {
    /deep/ {
      .menu-item {
        border-bottom: none;
      }
    }
  }
}
